/* Colors */
/* Color Theme Swatches in Hex */
.color-theme_Yoder-1-hex { color: #233D40; }
.color-theme_Yoder-2-hex { color: #486F73; }
.color-theme_Yoder-3-hex { color: #6AA0A6; }
.color-theme_Yoder-4-hex { color: #9AD2D9; }
.color-theme_Yoder-5-hex { color: #C9D9A7; }

/* Color Theme Swatches in RGBA */
.color-theme_Yoder-1-rgba { color: rgba(35, 61, 64, 1); }
.color-theme_Yoder-2-rgba { color: rgba(72, 111, 115, 1); }
.color-theme_Yoder-3-rgba { color: rgba(106, 160, 166, 1); }
.color-theme_Yoder-4-rgba { color: rgba(154, 210, 217, 1); }
.color-theme_Yoder-5-rgba { color: rgba(201, 217, 167, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_Yoder-1-hsla { color: hsla(186, 29, 19, 1); }
.color-theme_Yoder-2-hsla { color: hsla(185, 22, 36, 1); }
.color-theme_Yoder-3-hsla { color: hsla(186, 25, 53, 1); }
.color-theme_Yoder-4-hsla { color: hsla(186, 45, 72, 1); }
.color-theme_Yoder-5-hsla { color: hsla(79, 39, 75, 1); }




* {
    box-sizing: border-box;
    margin: 1px;
    text-decoration: none;
}

body {
    background-color: #9AD2D9;
    height: 99vh;
}

/* ------------Navbar------------ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px #233D40 solid;
}

.navhead {
    font-size: 60px;
}

.navlinks {
    font-size: 40px;
    color: black;
    padding: 10px; 
}

.navlinks:first-child {
    border-right: 2px #486F73 solid;
}

.navlinks:last-child {
    border-left: 2px #486F73 solid;
}

/* ------------Login/Posts Create Forms------------ */

a {
    color: blueviolet;
}

.formdisplay {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6AA0A6;
    border: 2px solid #486F73;
    border-radius: 25px;
    margin-top: 50px;
    width: 30vw;
}

.formheader {
    font-size: 40px;
}

.formparams {
    width: 25vw;
}

.formbutton {
    width: 8vw;
}

input {
    height: 40px;
    margin: 10px;
}

/* ------------Posts Display------------ */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6AA0A6;
    border: 2px solid #486F73;
    border-radius: 25px;
    width: 35vw;
    margin-top: 20px;
}

.headerbody {
    display: flex;
    justify-content: center;
    
}

.postheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: #486F73 2px solid;
}

.posthead {
    font-size: 40px;
}

/* ------------Posts------------ */

.posttitle {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}